manipulador-planar/flow.json
[
    {
        "id": "465ea7e1ba386827",
        "type": "tab",
        "label": "Manipulador Planar",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "895def5dad42d164",
        "type": "http in",
        "z": "465ea7e1ba386827",
        "name": "Receber Métricas",
        "url": "/metrics",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "d4946915ecef44d1"
            ]
        ]
    },
    {
        "id": "d4946915ecef44d1",
        "type": "json",
        "z": "465ea7e1ba386827",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "process_func",
                "http_resp"
            ]
        ]
    },
    {
        "id": "http_resp",
        "type": "http response",
        "z": "465ea7e1ba386827",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "process_func",
        "type": "function",
        "z": "465ea7e1ba386827",
        "name": "Processar",
        "func": "const d = msg.payload;\nlet txt = '';\n\nif (d.type === 'cycle_metrics') {\n    const m = d.metrics;\n    txt = `CICLO ${d.cycle}/${d.total_cycles} | Erro: ${m.mean_error_deg.toFixed(2)}° | Overshoot: ${m.max_overshoot_deg.toFixed(2)}° | Energia: ${m.total_energy_j.toFixed(2)}J | ${m.success ? '✅' : '❌'}`;\n    node.status({fill:'green', shape:'dot', text:'Ciclo ' + d.cycle});\n} else if (d.type === 'simulation_start') {\n    txt = `🚀 INÍCIO - ${d.config.dof} DOF, ${d.config.total_cycles} ciclos`;\n    node.status({fill:'blue', shape:'ring', text:'Iniciado'});\n} else if (d.type === 'simulation_end') {\n    txt = `🏁 FIM - ${d.summary.successful_cycles}/${d.summary.total_cycles} OK | Energia total: ${d.summary.total_energy_j.toFixed(2)}J`;\n    node.status({fill:'blue', shape:'dot', text:'Finalizado'});\n} else {\n    txt = JSON.stringify(d);\n}\n\nmsg.payload = txt;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "debug_out"
            ]
        ]
    },
    {
        "id": "debug_out",
        "type": "debug",
        "z": "465ea7e1ba386827",
        "name": "📊 Métricas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "inject_test",
        "type": "inject",
        "z": "465ea7e1ba386827",
        "name": "Teste",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"cycle_metrics\",\"cycle\":1,\"total_cycles\":6,\"metrics\":{\"mean_error_deg\":0.57,\"max_overshoot_deg\":4.64,\"total_energy_j\":9.18,\"success\":true}}",
        "payloadType": "json",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "process_func"
            ]
        ]
    }
]
