manipulador-planar/node_red_flow.json
[
  {
    "id": "robot_http_input",
    "type": "http in",
    "z": "robot_workspace",
    "name": "POST /data/robot",
    "url": "/data/robot",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 100,
    "wires": [["robot_json_parser"]]
  },
  {
    "id": "robot_json_parser",
    "type": "json",
    "z": "robot_workspace",
    "name": "Parse JSON",
    "property": "payload",
    "action": "parse",
    "pretty": false,
    "x": 300,
    "y": 100,
    "wires": [["robot_function_processor", "robot_debug_input"]]
  },
  {
    "id": "robot_function_processor",
    "type": "function",
    "z": "robot_workspace",
    "name": "Process Robot Data",
    "func": "// Extrair dados recebidos\nvar data = msg.payload;\n\n// Calcular métricas adicionais\nvar joint1_error = Math.abs(data.errors.joint1);\nvar joint2_error = Math.abs(data.errors.joint2);\nvar total_error = joint1_error + joint2_error;\n\n// Posição do end-effector\nvar ee_x = data.end_effector_position.x;\nvar ee_y = data.end_effector_position.y;\nvar ee_distance = Math.sqrt(ee_x*ee_x + ee_y*ee_y);\n\n// Status do controlador\nvar status = \"OK\";\nif (joint1_error > 0.1) status = \"HIGH_ERROR_J1\";\nif (joint2_error > 0.1) status = \"HIGH_ERROR_J2\";\nif (Math.abs(data.torques.joint1) > 45) status = \"TORQUE_LIMIT_J1\";\nif (Math.abs(data.torques.joint2) > 45) status = \"TORQUE_LIMIT_J2\";\n\n// Montar mensagem de saída\nmsg.payload = {\n    timestamp: data.timestamp,\n    joint_angles: data.joint_angles,\n    reference_angles: data.reference_angles,\n    errors: data.errors,\n    total_error: total_error,\n    torques: data.torques,\n    end_effector: {\n        x: ee_x,\n        y: ee_y,\n        distance: ee_distance\n    },\n    status: status,\n    metrics: data.metrics\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 100,
    "wires": [["robot_response", "robot_storage", "robot_dashboard", "robot_debug_output"]]
  },
  {
    "id": "robot_response",
    "type": "http response",
    "z": "robot_workspace",
    "name": "HTTP 200 Response",
    "statusCode": "200",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 800,
    "y": 80,
    "wires": []
  },
  {
    "id": "robot_storage",
    "type": "function",
    "z": "robot_workspace",
    "name": "Prepare for Storage",
    "func": "// Preparar dados para armazenamento em banco\nmsg.payload = {\n    _id: new Date(),\n    timestamp: msg.payload.timestamp,\n    joint_angles: msg.payload.joint_angles,\n    reference_angles: msg.payload.reference_angles,\n    errors: msg.payload.errors,\n    torques: msg.payload.torques,\n    end_effector_position: msg.payload.end_effector.x + \",\" + msg.payload.end_effector.y,\n    end_effector_distance: msg.payload.end_effector.distance,\n    status: msg.payload.status\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 700,
    "y": 150,
    "wires": [["robot_debug_storage"]]
  },
  {
    "id": "robot_debug_input",
    "type": "debug",
    "z": "robot_workspace",
    "name": "Input Data",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 300,
    "y": 200,
    "wires": []
  },
  {
    "id": "robot_debug_output",
    "type": "debug",
    "z": "robot_workspace",
    "name": "Processed Data",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 200,
    "wires": []
  },
  {
    "id": "robot_debug_storage",
    "type": "debug",
    "z": "robot_workspace",
    "name": "Storage Payload",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 150,
    "wires": []
  },
  {
    "id": "robot_dashboard",
    "type": "ui_group",
    "z": "robot_workspace",
    "name": "Robot Simulator Dashboard",
    "tab": "robot_tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "robot_tab",
    "type": "ui_tab",
    "name": "Robot Simulator",
    "icon": "fa-robot",
    "order": 1
  },
  {
    "id": "robot_gauge_j1",
    "type": "ui_gauge",
    "z": "robot_workspace",
    "name": "Joint 1 Angle",
    "group": "robot_dashboard",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Joint 1 (θ₁)",
    "unit": "rad",
    "min": "-3.15",
    "max": "3.15",
    "seg1": "-1.57",
    "seg2": "1.57",
    "x": 100,
    "y": 350,
    "wires": []
  },
  {
    "id": "robot_gauge_j2",
    "type": "ui_gauge",
    "z": "robot_workspace",
    "name": "Joint 2 Angle",
    "group": "robot_dashboard",
    "order": 2,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Joint 2 (θ₂)",
    "unit": "rad",
    "min": "-3.15",
    "max": "3.15",
    "seg1": "-1.57",
    "seg2": "1.57",
    "x": 100,
    "y": 450,
    "wires": []
  },
  {
    "id": "robot_function_gauges",
    "type": "function",
    "z": "robot_workspace",
    "name": "Extract for Gauges",
    "func": "msg.angle_j1 = msg.payload.joint_angles.joint1;\nmsg.angle_j2 = msg.payload.joint_angles.joint2;\nmsg.error_j1 = msg.payload.errors.joint1;\nmsg.error_j2 = msg.payload.errors.joint2;\nmsg.torque_j1 = msg.payload.torques.joint1;\nmsg.torque_j2 = msg.payload.torques.joint2;\nmsg.ee_distance = msg.payload.end_effector.distance;\nmsg.status = msg.payload.status;\n\nreturn msg;",
    "outputs": 6,
    "noerr": 0,
    "x": 600,
    "y": 350,
    "wires": [["robot_gauge_j1"], ["robot_gauge_j2"], ["robot_error_text_j1"], ["robot_error_text_j2"], ["robot_torque_chart"], ["robot_status_text"]]
  },
  {
    "id": "robot_error_text_j1",
    "type": "ui_text",
    "z": "robot_workspace",
    "name": "Error J1",
    "group": "robot_dashboard",
    "order": 3,
    "width": 2,
    "height": 2,
    "icon": "fa-exclamation-triangle",
    "title": "Error J1",
    "format": "{{msg.payload | number:4}}",
    "layout": "row-spread",
    "x": 800,
    "y": 350,
    "wires": []
  },
  {
    "id": "robot_error_text_j2",
    "type": "ui_text",
    "z": "robot_workspace",
    "name": "Error J2",
    "group": "robot_dashboard",
    "order": 4,
    "width": 2,
    "height": 2,
    "title": "Error J2",
    "format": "{{msg.payload | number:4}}",
    "layout": "row-spread",
    "x": 800,
    "y": 420,
    "wires": []
  },
  {
    "id": "robot_torque_chart",
    "type": "ui_chart",
    "z": "robot_workspace",
    "name": "Torque History",
    "group": "robot_dashboard",
    "order": 5,
    "width": 6,
    "height": 4,
    "chartType": "line",
    "legend": "show",
    "xformat": "HH:mm:ss",
    "ymin": "-50",
    "ymax": "50",
    "yformat": "number",
    "ysuffix": " N.m",
    "x": 800,
    "y": 500,
    "wires": []
  },
  {
    "id": "robot_status_text",
    "type": "ui_text_input",
    "z": "robot_workspace",
    "name": "System Status",
    "group": "robot_dashboard",
    "order": 6,
    "width": 2,
    "height": 2,
    "icon": "fa-heartbeat",
    "title": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 900,
    "y": 350,
    "wires": []
  }
]
